<header class="header">
  <div class="header-container">
    <a href="/">
        <h2 class="logo">Resume Directory</h2>
    </a>
    <nav>
      <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/all-resume">View All</a></li>
        <li><a href="/add-resume">Add New</a></li>
      </ul>
    </nav>
  </div>
</header>
